<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/dbed44a7-f849-4c94-9923-fb2eca79b51d/resourceGroups/MediaSuggesterAPIResourceGroup/providers/Microsoft.Web/sites/MediaSuggesterAPI</ResourceId>
    <ResourceGroup>MediaSuggesterAPIResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/dbed44a7-f849-4c94-9923-fb2eca79b51d/resourceGroups/MediaSuggesterAPIResourceGroup/providers/Microsoft.ApiManagement/service/MediaSuggesterAPI-APIManagementService/apis/MediaSuggesterAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://mediasuggesterapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>c25022c2-366a-4a06-b40e-bbe5e6db30e7</ProjectGuid>
    <MSDeployServiceURL>mediasuggesterapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MediaSuggesterAPI</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$MediaSuggesterAPI</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>